html,body{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}
div, h2, iframe{
	padding:0;
	margin:0;
}
body{
	display: block;
}
html{
	background-color: #000;
}

h2{
/*  position: relative;*/
  padding-top: 50px;
  padding-bottom: 13px;
  text-align: center;
}
h3{
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 1px;
  /*text-shadow: 5px 5px 5px black;*/
}
.kiemel{

	font-size: 18px;
 	text-shadow:5px 5px 5px grey;
 	width: 60vw;
	
}
 p {
 	font-size: 14px;
 	width: 300px;
 }

 iframe, p, h4 {
 	position:relative;
 	left: 150px;
 }
/* Create three equal columns that floats next to each other */
.oszlop {
  float: left;
  width: 35%;
}

/* Clear floats after the columns */
.sor:after {
  content: "";
  display: table;
  clear: both;
}


audio{
  width: 300px;
  height: 54px;
  color: #fff;
  padding-left: 40%;
}
.betevo{
  position: relative;

}
#credit{
  color:#ff5050;
  font-size: 12px;
  font: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* unvisited link */
a:link {
  color: #f93;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: rgba(0, 255, 153, 1);
}

/* selected link */
a:active {
  color: #996;
}
